<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="channel" type="Hi.NetWork.Configuration.ConfigurationSetting,Hi.NetWork"/>
    </configSections>

    <connectionStrings>
        <add name="ConStr" connectionString="data source=TOM-PC;initial catalog=HiNetWork;user id=sa;password=sasa;"/>
    </connectionStrings>

    <!--通道配置-->
    <channel>
        <ConfigurationSetting>
            <!--2种角色的buffer，输入和输入-->
            <BufferTypeCounter>2</BufferTypeCounter>
            <!--Socket接收缓冲区的大小-->
            <SocketReceiveBufferSize>65536</SocketReceiveBufferSize>
            <!--最大并发数-->
            <MaxConcurrentNumber>100000</MaxConcurrentNumber>
            <!--最大连接数-->
            <MaxConnectionNumber>100000</MaxConnectionNumber>
            <!--IP-->
            <Host>192.168.1.101</Host>
            <!--端口-->
            <Port>23456</Port>
        </ConfigurationSetting>

    </channel>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    
</configuration>
